.container {
  flex: 0 0 auto;     
  position: absolute; 
  width: 100%; 
  padding-right: 15px;
  bottom: 0;
  z-index: 5;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08);
  .title {
    padding-top: 15px;
    text-align: right;
    color: #252525;
  }
  background-color: #f2f2f2;
  .selected-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    height: 130px;
    overflow-y: scroll;
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 10px;
      background-color: #fff;
      border-radius: 6px;
    }
    &__name {
      margin-right: 15px !important;
      direction: ltr;
    }
    &__img {
      height: 35px !important;
    }
    &__folder {
      img {
        height: 35px !important;
      }
    }
  }
}
