.context-menu {
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 11px 4px #0000001a;
  border-radius: 4px;
  width: 250px;
  background-color: #fff;
  color: #737373;

  
  &__icon {
    padding-left: 16px;
  }
  &__text {
    // padding-right: 16px;
  }
  &__item {
    padding-right: 16px;
    // margin-bottom: 6px;
    width: 100%;
    padding: 8px 0px;
    &:hover{
      background-color: #e9ecef;
    }
  }
  ul {
    padding: 6px 0px;
    align-items: start;
    li {
      display: flex;
      align-items: center;
      text-align: right;
      cursor: pointer;
      padding-right: 16px;
    }
  }
}
.btn-danger {
  color: #ff6060 !important;
  &:hover {
    color: #fff !important;
  }
}
.btn-primary {
  color: #ffff !important;
  background-color: #6184ff !important;
}

.modal-operation {
  .modal-header {
    border-bottom: 1px solid transparent;
  }
}
