.bread-crumb {
  height: 40px;
  background-color: #ffffff;
  color: #b5b5b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  &__wrapper-item {
    display: flex;
    align-items: flex-start;
  }
  &__your-path {
    color: #777;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    &--disabled {
      cursor: default;
      user-select: none;
      color: grey;
      display: inline-flex;
      align-items: center;
    }
    &--icon {
      color: #b5b5b5 !important;
    }
    &--title {
      cursor: pointer;
      &:hover {
        color: #ff9b3f;
      }
    }
    &:last-child {
      color: #ff9b3f;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    color: #b5b5b5;
    &:hover {
      color: #ff9b3f;
      cursor: pointer;
    }
  }
  // &__copyright {
  //   padding-left: 10px;
  // }
}
