.bread-crumb {
  height: 60px;
  background-color: #f2f2f2;
  color: #b5b5b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #e1e1e1;
  &__your-path {
    color: #777;
  }
  &__item {
    // padding: 8px;
    &--disabled {
      cursor: default;
      user-select: none;
      color: grey;
    }
    &:hover {
      color: #ff9b3f;
      cursor: pointer;
    }
  }
  &__copyright {
    padding-left: 10px;
  }
}
