.calendarContainer {
  z-index: 100000;
}

.sharefile-wrapper {
  font-family: IRANSans;
  text-align: right;
  &__header {
    h5 {
      width: 100%;
    }
  }
  &__add {
    display: grid;
    grid-template: auto / 45fr 45fr 40px;
    grid-gap: 10px;

    input {
      font-size: 14px;
    }
  }
  &__button {
    background-color: #6184ff;
    border-color: #6184ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-wrapper {
    max-height: 200px;
    overflow-x: scroll;
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__img {
    }
    &__icon-user {
    }
    &__name {
      font-weight: 600;
    }
    &__date {
      font-size: 12px;
    }
    &__icons {
    }
    &__icon-times {
    }
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px white;
      border-radius: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
    }
  }
  &__confirm {
    background-color: #6184ff;
    border-color: #6184ff;
  }
  &__copy {
    border-radius: 50px;
    &:hover img {
      filter: brightness(100) saturate(100%);
      // background-color: #ffffff;
    }
    // img:hover {
    //   filter: brightness(0) saturate(100%);
    //   background-color: #ffffff;
    // }
  }
  &__dropdown-access {
    color: #737373;
  }
  &__dropdown-icon {
    font-size: 12px;
  }
  &__guide {
    color: #b5b5b5;
    font-size: 14px;
  }
}
