$color-orange: #ff9b3f;
$color-gray: #b5b5b5;

.btn-upload {
  background-color: $color-orange !important;
  color: #fff;
  border: none;
  &:focus {
    background-color: $color-orange !important;
    color: #fff;
  }
}

.upload-toast {
  width: 400px;
  position: fixed;
  bottom: 25px;
  left: 25px;
  &__header{
    background-color: #6184ff;
    h5{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: white;
    }
    
  }
}

.modal-container {
  &.upload-toast {
    &div[role='document'] {
      align-items: end;
      justify-content: end;
      max-width: none;
      margin-left: 20px;
      .modal-content {
        border-radius: 0;
        .modal-header {
          background-color: #6184ff;
          .modal-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: #fff;
            .icon-times {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .modal-content {
    width: 355px;
    min-height: 240px;
    border-radius: 8px;
  }
  .drag-here {
    margin: 1rem;
    border: 2px dashed $color-gray;
    border-radius: 8px;
    text-align: center;
    color: #737373;
    h5{
      margin-top: 10px;
    }

  }
}

div[role='dialog'] {
  align-items: end;
  justify-content: end;
  max-width: none;
  margin-left: 20px;
}
.iconUpload{

}