$color-orange: #ff9b3f;
$color-gray: #b5b5b5;

.btn-upload {
  background-color: $color-orange !important;
  color: #fff !important;
  border: none;
  border-radius: 4px !important;
  padding-left: '0px';
  &:hover {
    color: #fff !important;
  }
  &:focus {
    background-color: $color-orange !important;
    color: #fff;
  }
  span {
    margin-right: 6px;
  }
}
.upload {
  border-radius: 20px !important;
}
.upload-toast {
  width: 400px !important;
  position: fixed !important;
  bottom: 25px !important;
  left: 25px !important;
  &__header {
    background-color: #6184ff;
    h5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: white;
    }
  }
  &__icon-wrapper {
    // display: flex;
    // width: 55px;
    // justify-content: center;
  }
}

.modal-container {
  &.upload-toast {
    &div[role='document'] {
      align-items: end;
      justify-content: end;
      max-width: none;
      margin-left: 20px;
      .modal-content {
        border-radius: 0;
        .modal-header {
          background-color: #6184ff;
          .modal-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: #fff;
            .icon-times {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .modal-content {
    width: 355px;
    min-height: 240px;
    border-radius: 8px;
  }
  .drag-here {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 2px dashed $color-gray;
    border-radius: 8px;
    text-align: center;
    color: #737373;
  }
}

div[role='dialog'] {
  align-items: end;
  justify-content: end;
  max-width: none;
  margin-left: 20px;
}

.upload-notification {
  color: #b4b4b4;
  width: 340px;
  position: absolute !important;
  bottom: 100px;
  left: 20px;
  z-index: 2;
  margin-bottom: 0px !important;
  &__collapse {
    max-height: 150px;
    overflow: scroll;
  }
  &__header {
    display: flex;
    background-color: #ffffff !important;
    border: none !important;
  }
  &__title {
    width: 100%;
    flex-grow: 1;
    text-align: right;
  }
  &__chevron {
    margin-left: 12px;
  }
  &__times {
  }
  &__divider {
    border: 1px solid #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
  }
  &__alert {
    padding: 12px;
    margin: 12px !important;
  }
}

.dropdown-menu {
  margin-top: 8px !important;
  border-radius: 8px !important;
  left: -10px !important;
  min-width: auto !important;
}

.stream {
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  text-align: right;
  padding: 20px;
  &__title {
    margin-bottom: 20px;
  }
  &__subTitle {
    color: #b4b4b4;
  }
  &__checkboxlabel {
    color: #b4b4b4;
    margin-right: 6px;
    margin-left: 14px;
  }
}
