@import '../../sass/variables';

.fix-top {
  position: static;
  left: 0;
  right: 0;
  z-index: 2;
}


//*****************************************
//***** After css Module ******************
//*****************************************

.nav-wrapper {
  background-color: #f2f2f2;
  top: 0;
  padding-top: 15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-bottom: none !important;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 15px;
  }

  &__item {
  }
  &__tab-item {
    cursor: pointer;
    border-color: transparent !important;
    color: $color-gray !important;
    background-color: $color-gray-light;
    border-bottom: 4px solid $color-gray-light;
    border-radius: 0px;
    &:hover {
      filter: brightness(85%);
    }
    &--active {
      border-bottom: 4px solid $color-orange !important;
      color: $color-orange !important;
      background-color: $color-orange-light !important;
    }
    &--disabled {
      color: $color-gray !important;
    }
    .nav-wrapper__link {
      color: $color-gray;
      &:hover {
        color: $color-gray;
      }
    }
  }
  &__link {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
}
